<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos App</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <img src="https://avatars.githubusercontent.com/u/68342516?v=4" alt="">
  <h1>Luan Oliveira</h1>
  <p>Desenvolvedor de software</p>
  <a href="mailto:aluanbh@gmail.com">aluanbh@gmail.com</a>




</ion-content>
